@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins&family=Roboto&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(90deg, rgba(0,36,32,1) 0%, rgba(53,117,193,0.7682423311121324) 0%, rgba(8,232,157,0.9447129193474265) 100%, rgba(0,233,255,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
.card-1{
    margin-top: 7rem;
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 32px;
    border: 1px solid #291F68;
}
.card-1 img{
    display: inline-block;
    width: 110px;
    height: 110px;
    border-radius: 70px;
    border: 3px solid #291F68;
    float: left;
}
.card-image{
    margin-top: 5rem;
    margin-left: 6rem;
    
}
.image-content{
    display: inline-block;
    padding-top: 2rem;
    margin-left: 2rem;
}
.image-content p:nth-child(1){
    font-size: 26px;
    font-weight: 900;
    line-height: 30px;
}
.image-content p:nth-child(2){
    font-size: 20px;
    font-weight: 500;
    margin-left:0.5rem;
    line-height: 24px;
}
.btn-group{
    display: inline-block;
    margin: 2rem 4.5rem;
}
.btn-group button{
    width: 369px;
    height: 59px;
    border: none;
    border-radius: 8px;
    gap: 8px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}
.btn-group button:nth-child(1){
    background-color: #291F68;
    color: white;
  
}
.btn-group button:nth-child(2){
    color: #291F68;
    background-color: #fff;
    border: 1px solid #291F68;
}
button{
    margin: 10px;
}
.btn-group button:active{
    transform: scale(0.98);
}
.btn-group button:focus{
    border: 1px solid #291F68;
}
